{% extends "base.html" %}

{% block head %}
  <style>
    .btn-delete-item {color: darkred;}
  </style>
{% endblock %}

{% block body %}
  <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb">
      {% for val in breadcrumb %}
        {% if val['url'] %}
          <li class="breadcrumb-item"><a href="{{ val['url'] }}" class="link-success">{{ val['name'] }}</a></li>
        {% else %}
          <li class="breadcrumb-item active" aria-current="page">{{ val['name'] }}</li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
  <div class="row row-cols-2 row-cols-lg-6 row-cols-md-4 row-cols-sm-2 mt-5">
    {% for item in data %}
      <div class="col text-center">
        <div class="card border-0" data-path="{{ item['path_key'] }}">
          {% if item['video_source'] %}
            <div style="height: 7em; cursor: pointer;" class="d-flex flex-grow-1 justify-content-center align-items-center"
                 data-bs-toggle="modal" data-bs-target="#video-modal" data-source="{{ item['video_source'] }}">
              <img src="{{ item['img_url'] }}" alt="image" style="max-width: 100%;max-height: 100%;">
            </div>
          {% else %}
            <a href="{{ item['url'] }}">
              <div style="height: 7em;" class="d-flex flex-grow-1 justify-content-center align-items-center">
                <img src="{{ item['img_url'] }}" alt="image" style="max-width: 100%;max-height: 100%;">
              </div>
            </a>
          {% endif %}
          <div class="card-body row">
            <div class="col-10 card-title" style="padding-right: 0;">{{ item['name'] }}</div>
            <div class="dropdown col-2 dropdown-of-item" style="padding: 0;">
              <button class="btn" type="button" id="dropdown-options-{{ loop.index }}" data-bs-toggle="dropdown" aria-expanded="false" style="padding: 0;">
                <img src="{{ url_for('static', path='/icons/options.png') }}" alt="..."  style="max-height: 2em;opacity: 0.7;">
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdown-options-{{ loop.index }}">
                <li><button class="dropdown-item btn-select-item">Select</button></li>
                <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#rename-item-modal">Rename</button></li>
                <li><button class="dropdown-item btn-delete-item">Delete</button></li>
              </ul>
            </div>
            <div class="col-2"><input role="button" class="form-check-input d-none checkbox-select-item" type="checkbox"></div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="modal" tabindex="-1" id="rename-item-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-body mt-3">
            <input id="rename-item-modal-input" class="form-control" type="text" name="new_name"
                   placeholder="New Name" minlength="3" maxlength="100">
            <div id="rename-item-modal-error" class="text-danger"></div>
          </div>
          <div class="modal-footer" style="border-top: none;">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="rename-item-modal-save">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal" id="video-modal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <video controls></video>
      </div>
    </div>
  </div>

  <script>
    const MAIN_MODE = ['btn-add-files', 'btn-new-folder']
    const SELECT_MODE = ['btn-delete-selected', 'btn-select-all', 'btn-cancel-selecting']
    const ALL_MODE_BTN_IDS = MAIN_MODE.concat(SELECT_MODE)

    function switch_mode_to(mode) {
      for (let btn_id of mode) {
        document.getElementById(btn_id).classList.remove('d-none')
      }

      for (let btn_id of ALL_MODE_BTN_IDS) {
        if (!mode.includes(btn_id)) {
          document.getElementById(btn_id).classList.add('d-none')
        }
      }
    }

    function send_to_delete(list_of_paths) {
      let confirmed = confirm('Are you sure to delete ' + list_of_paths.length + ' object(s)?')
      if (!confirmed) {
        return
      }

      fetch('{{ url_delete_items }}', {
        method: 'POST',
        headers: {"content-type": "application/json"},
        body: JSON.stringify({paths: list_of_paths})
      }).then(function (response) {
        return response.json()
      }).then(function (response) {
        if (response.status === 'error') {
          alert(response.detail)
        } else if (response.status !== 'ok') {
          alert(response['detail'][0]['msg'])
        }
        location.reload()
      })
    }

    // delete item
    (function () {
      let btns = document.getElementsByClassName('btn-delete-item')
      for (let btn of btns) {
        btn.addEventListener('click', function () {
          send_to_delete([btn.closest('.card').dataset.path])
        })
      }
    })();

    // delete selected
    (function () {
      let btn = document.getElementById('btn-delete-selected')
      let checkboxes = document.getElementsByClassName('checkbox-select-item')
      btn.addEventListener('click', function () {
        let to_delete = []
        for (let cbx of checkboxes) {
          if (cbx.checked) {
            to_delete.push(cbx.closest('.card').dataset.path)
          }
        }
        if (to_delete) {
          send_to_delete(to_delete)
        }
      })
    })();
    
    // select item
    (function () {
      let btns = document.getElementsByClassName('btn-select-item')
      let dropdowns = document.getElementsByClassName('dropdown-of-item')
      let checkboxes = document.getElementsByClassName('checkbox-select-item')

      for (let btn of btns) {
        btn.addEventListener('click', function () {
          for (let dwn of dropdowns) {
            dwn.classList.add('d-none')
          }
          for (let cbx of checkboxes) {
            cbx.classList.remove('d-none')
            if (cbx.closest('.card').dataset.path === btn.closest('.card').dataset.path) {
              cbx.checked = true
            }
          }
          switch_mode_to(SELECT_MODE)
        })
      }
    })();

    // btn cancel selecting
    (function () {
      let btn = document.getElementById('btn-cancel-selecting')
      let dropdowns = document.getElementsByClassName('dropdown-of-item')
      let checkboxes = document.getElementsByClassName('checkbox-select-item')

      btn.addEventListener('click', function () {
        for (let dwn of dropdowns) {
          dwn.classList.remove('d-none')
        }
        for (let cbx of checkboxes) {
          cbx.classList.add('d-none')
          cbx.checked = false
        }
        switch_mode_to(MAIN_MODE)
      })
    })();

    // btn select all
    (function () {
      let btn = document.getElementById('btn-select-all')
      let checkboxes = document.getElementsByClassName('checkbox-select-item')

      btn.addEventListener('click', function () {
        for (let cbx of checkboxes) { cbx.checked = true }
      })
    })();

    // rename item modal
    (function () {
      let modal = document.getElementById('rename-item-modal')
      let input = document.getElementById('rename-item-modal-input')
      let submit = document.getElementById('rename-item-modal-save')
      let error = document.getElementById('rename-item-modal-error')
      modal.addEventListener('show.bs.modal', function (event) {
        let btn = event.relatedTarget
        let card = btn.closest('.card')
        let path = card.getAttribute('data-path')

        input.value = card.querySelector('.card-title').innerText

        submit.addEventListener('click', function () {
          fetch('{{ url_rename_item }}', {
            method: 'POST',
            headers: {"content-type": "application/json"},
            body: JSON.stringify({path: path, new_name: input.value})
          }).then(function (response) {
            return response.json()
          }).then(function (response) {
            if (response.status === 'error') {
              error.innerText = response.message
            } else if (response.status !== 'ok') {
              error.innerText = response['detail'][0]['msg']
            } else {
              location.reload()
            }
          })
        })
      })
    })();

    // video modal
    (function () {
      let modal = document.getElementById('video-modal')
      let video = modal.querySelector('video')
      modal.addEventListener('show.bs.modal', function (ev) {
        let trig = ev.relatedTarget
        video.src = trig.getAttribute('data-source')
      })

      modal.addEventListener('hide.bs.modal', function () {
        video.pause()
        video.currentTime = 0;
        video.removeAttribute('src')
      })
    })();
  </script>
{% endblock %}